@font-face {font-family: 'Rubik';
  src: url('../assets/fonts/static/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nightmare Before Christmas';
  src: url('../assets/fonts/Nightmare-Before-Christmas.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  /* --fuenteOoohBaby: 'Oooh Baby'; */
  /* --fuenteLoveLight: 'Love Light', cursive; */
  --fuenteRuby: 'Rubik', sans-serif;
  --fuenteNightmareBeforeChristmas: 'Nightmare Before Christmas';
  --colorFondoNavbar: black;
  --colorSalmon: hsl(0, 98%, 78%);
  /* --colorSalmonClaro: hsl(0, 59%, 88%); */
  /* --colorSangre: hsl(0,100%,40%); */
}

.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorFondoNavbar);
  padding: 0px 5%;
  z-index: 1;
}

.containerLogoNavbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogoNavbar img{
  width: 100%;
  min-width: 50px;
  max-width: 70px;
  animation-name: aplicandoZoomLogo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes aplicandoZoomLogo{
  0%{
      transform: scale(0.3, 0.3);
  }1%{
      transform: rotateZ(0deg);
  }10%{
      transform: rotateZ(360deg);
  }30%{
      transform: scale(0.5, 0.5);
  }
  100%{
      transform: scale(1.00, 1.00);
  }
}

/* <----------  MENÚ HAMBURGUESA  ----------------> */
.containerMenuHamburguesa{
  display: none;
}

.containerListaMenuHamburguesa{
  display: none;
}

.ulSubMenuOpcionInicio{
  display: none;
}
/*<--------------------------------------------> */

.ContainerMenuNavbar{
  height: 100%;
  align-items: center;
}

.ulPadreMenuNavbar{
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  list-style: none;
}

.ulPadreMenuNavbar li{
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;
}

.ulPadreMenuNavbar li a{
  /* border: 2px solid blue; */
  padding: 0px 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuenteRuby);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

.ulPadreMenuNavbar li a:hover{
  background-color: var(--colorSalmon);
  color: black;
  font-weight: 600;
}

/* <-----  TÍTULO Y FONDO PRINCIPAL ----> */
.mainImgFondoPrincipal{
  margin-top: 80px;
  width: 100%;
  position: relative;
  display: flex;
  z-index: -1;
}

.mainImgFondoPrincipal img{
  width: 100%;
}

.divTituloPrincipal{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.divTituloPrincipal h1{
  color: white;
  font-family: var(--fuenteNightmareBeforeChristmas);
  font-size: 6vw;
  text-shadow: 1vh 1vh 0.5vh black;
}
/*<--------------------------------------------> */

/* <------------  PORTADAS PELÍCULAS ----------> */
.mainPortadasPelis{
  width: 100%;
  background-image: url("../assets/img/Estrellas.jpg");
  background-size: cover;
  display: flex;
}

.sectionPortadaPelis{
  /* border: 4px solid blue; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3vw;
  grid-row-gap: 5vh;
  margin: 10vh 3vw;
  justify-items: center;
}

.portadaPelis{
  position: relative;
  display: flex;
  width: 100%;
  border: 1vh solid white;
  box-shadow: 1vh 1vh 1vh white;
  transition: transform .5s;
}

.portadaPelis:hover{
  transform: scale(1.15, 1.15);
}

.portadaPelis img{
  /* border: 4px solid blue; */
  width: 100%;
}

.botonPelis{
  width: 5vw;
  height: 3vh;
  box-shadow: 0.5vh 0.5vh 0.5vh black;
  background-color: rgb(114, 20, 34);
  border-radius: 30px;
}

.botonPelis a{ 
  /* border: 4px solid blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1vw;
  color: white;
  font-weight: 600;
  font-family: var(--fuenteRuby);
}

.botonPelisInfo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botonPelisTrailer{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/*<--------------------------------------------> */

/*---------------------------------------------*/
/*************** MEDIA QUERY *******************/
/*---------------------------------------------*/

@media only screen and (max-width: 2500px){
  
  .sectionPortadaPelis{
    margin: 9vh 3vw;
  }

  .portadaPelis{
    border: 0.9vh solid white;
    box-shadow: 0.8vh 0.8vh 0.5vh white;
  }
}

@media only screen and (max-width: 1600px){

  .portadaPelis{
    border: 0.5vh solid white;
    box-shadow: 0.5vh 0.5vh 0.5vh white;
  }
}

@media only screen and (max-width: 1450px){
  
  .sectionPortadaPelis{
    margin: 8vh 3vw;
  }
}

@media only screen and (max-width: 1379px){
  
  .portadaPelis:hover{
    transform: scale(1.09, 1.09);
  }
}

@media only screen and (max-width: 1200px){
  
  .botonPelis{
    height: 3vh;
  }

  .botonPelisTrailer{
    top: 58%;
    transform: translate(-50%, -58%);
  }
}

@media only screen and (max-width: 999px){
  
  .portadaPelis:hover{
    transform: scale(1.05, 1.05);
  }
}

@media only screen and (max-width: 950px){
  
  .botonPelis{
    width: 6vw;
    height: 3vh;
  }

  .botonPelisTrailer{
    top: 60%;
    transform: translate(-50%, -60%);
  }
}

@media only screen and (max-width: 900px){
  
  .sectionPortadaPelis{
    margin: 6vh 3vw;
  }
}

@media only screen and (max-width: 852px){
  
  .botonPelis{
    width: 7vw;
    height: 4vh;
  }

  .botonPelisTrailer{
    top: 58%;
    transform: translate(-50%, -58%);
  }
}

@media only screen and (max-width: 750px){
  
  .ContainerMenuNavbar{
    display: none;
  }
}

@media only screen and (max-width: 650px){
  
  .sectionPortadaPelis{
    margin: 4vh 3vw;
  }

  .portadaPelis{
    border: 0.5vh solid white;
    box-shadow: 0.3vh 0.3vh 0.5vh white;
  }
}

@media only screen and (max-width: 537px){
  
  .portadaPelis:hover{
    transform: scale(1.01, 1.01);
  }
}

@media only screen and (max-width: 549px){
  
  .sectionPortadaPelis{
    margin: 5vh 4vw;
  }

  .botonPelis{
    width: 22vw;
    height: 5vh;
  }

  .botonPelisTrailer{
    top: 60%;
    transform: translate(-50%, -60%);
  }

  .botonPelis a{
    font-size: 4vw;
  }
}

@media only screen and (max-width: 520px){
  
  .botonPelis{
    width: 22vw;
    height: 5vh;
  }
}

@media only screen and (max-width: 500px){
  
  
}

@media only screen and (max-width: 450px){
  
  .botonPelis{
    width: 22vw;
    height: 4vh;
  }
}

@media only screen and (max-width: 410px){
  
  
}

@media only screen and (max-width: 400px){

  .divTituloPrincipal h1{
    text-shadow: 0.2vh 0.2vh 0.1vh black;
  }
  
  .portadaPelis{
    border: 0.3vh solid white;
    box-shadow: 0.2vh 0.2vh 0.4vh white;
  }

  .botonPelisTrailer{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
  }
}

@media only screen and (max-width: 350px){

  .botonPelisTrailer{
    top: 65%;
    transform: translate(-50%, -65%);
  }
}

@media only screen and (max-width: 300px){
  
  
}


@media only screen and (max-width: 258px){
  
  .portadaPelis{
    width: 90%;
  }
}

@media only screen and (max-width: 200px){
  
  
}

@media only screen and (max-width: 150px){
  
  
}

@media only screen and (max-width: 125px){
  
  
}

@media only screen and (max-width: 110px){
  
  
}