@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Nightmare Before Christmas';
  src: url('../assets/fonts/Nightmare Before Christmas.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Oooh Baby';
  src: url('../assets/fonts/OoohBaby-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root{
  --fuenteOoohBaby: 'Oooh Baby';
  --fuenteLoveLight: 'Love Light', cursive;
  --fuenteRuby: 'Rubik', sans-serif;
  --fuenteNightmareBeforeChristmas: 'Nightmare Before Christmas';
  --colorFondoNavbar: black;
  --colorSalmon: hsl(0, 98%, 78%);
  --colorSalmonClaro: hsl(0, 59%, 88%);
  --colorSangre: hsl(0,100%,40%);
}

/* Estilos generales barra de navegación Navbar */
.navbar{
  background-color: var(--colorFondoNavbar);
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 75px;
  font-family: var(--fuenteRuby);
  font-weight: 400;
  letter-spacing: 1px;
  /* overflow: hidden; */
}

/* Estilos para el div contenedor del logo del navbar */
.containerDivLogoNavbar{
    display: flex;
    width: 0.8%;
    min-width: 62px;
}

/* Estilos para el logo del navbar */
.imagenLogoNavbar{
  width: 100%;
  height: 100%;
  animation-name: aplicandoZoomLogo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animación para el logo del navbar */
@keyframes aplicandoZoomLogo{
    0%{
        transform: scale(0.3, 0.3);
    }1%{
        transform: rotateZ(0deg);
    }10%{
        transform: rotateZ(360deg);
    }20%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1.18, 1.18);
    }
}

/*---------------------------------------------*/
/* Estilos para el label, (MENU HAMBURGUESA) casero
del navbar */
/* Idea original, Profe Dani */

/* Damos estilo a los span para darle forma
al logo casero del Menú hamburguesa. */
.divTresSpanMenuHamburguesa span{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.inputMenu{
    display: none;
}

.listaHamburguesa{
    /*position: fixed;*/
    position: absolute;
    transform: translate(-74px, 26px);
    width: 200px;
    list-style: none;
    font-family: var(--fuenteRuby);
    display: none;
}

.listaHamburguesa li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorFondoNavbar);
    /*border-bottom: 1px solid white;*/
    border-top: 1px solid white;
    height: 80px;
    /* display: none; */
}

.liContacto{
  border-bottom: 1px solid white;
}

.listaHamburguesa li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

/*---------------------------------------------*/
/* Estilos para el Menú de opciones del navbar */

/* Estilos para el div contenedor del Menú.
Listado desordenado */
.ContainerDivMenuNavbar{
  height: 100%;
}

/* Estilos para el Listado desordenado */
.ulPadreMenuNavbar{
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

/* Estilos para las opciones del Menú
listado desordenado (li) */
.ulPadreMenuNavbar li{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
  list-style: none;
  background-color: var(--colorFondoNavbar);
  /*border: 1px solid transparent;*/
  padding: 0px 5px;
}

/* Estilos para cuando pasamos el mouse por las
opciones del Menú listado desordenado (li), */
.ulPadreMenuNavbar li:hover{
  background-color: var(--colorSalmon);
}

/* Estilos para cuando pasamos el mouse por las
opciones del Menú listado desordenado, pero
en este caso, haciendo referecia a los links
etiquetas (a), */
.ulPadreMenuNavbar a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 100%;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

/* Cuando pasamos el mouse por la opción INICIO
del Menú listado desordenado (li), como este
cuenta con subMenú, hacemos que sea visible */
.opcionInicioConSubOpciones:hover > .ulSubMenuDeOpcionInicio{
  display: block;
}

/* Cuando pasamos el mouse por las opciones
del Menú listado desordenado (li), le aplicamos
estilos a los links (a), y si, navegamos por el
subMenú, con lo que seguiríamos pasando el
mouse por las listas (li), dichos estilos
opermanecerán activos. */
.ulPadreMenuNavbar li:hover > a{
  color: var(--colorFondoNavbar);
  font-weight: 600;
  transform: scale(1.1, 1.1);
}

/* Le decimos que nos maneje la posición relativa
al link de la opción INICIO que es la que
contiene el subMenú. Para que sea el padre
de los subMenús, y su posición depende de esta. */
.opcionInicioConSubOpciones{
  position: relative;
}

/* Acá le estamos aplicando la posición absoluta
al subMenú, y su ubicación con respecto a la
opción INICIO. */
.ulSubMenuDeOpcionInicio{
  position: absolute;
  transform: translate(-5px, 1px);
  display: none;
}

/* Le aplicamos estilos a las opciones (li)
del subMenú de la opción INICIO. */
.ulSubMenuDeOpcionInicio li{
  text-align: center;
  height: 80px;
  border-top: 1px solid white;
}

.opcionesSubMenuCinco{
  border-bottom: 1px solid white;
}

.mainContainerImgFondo{
  /*border: 2px solid blue;*/
  margin-top: 80px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.mainContainerImgFondo img{
  width: 100%;
}

.divTituloPrincipal{
  /* border: 2px solid red; */
  font-family: var(--fuenteNightmareBeforeChristmas);
  font-size: 200px;
  text-shadow: 30px 30px 6px black;
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* color: var(--colorSangre); */
}

.mainContainerPortadasPelis{
  /* border: 2px solid red; */
  width: 100vw;
  background-image: url("../assets/img/Estrellas.jpg");
  background-size: cover;

  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  /* z-index: -1; */
}

.mainContainerPortadasPelis img{
  /* width: 100%; */
  /* opacity: 0.4; */
  /* filter:alpha(opacity=40); For IE8 and earlier */
}

.containerTarjetasPelis{
  /* border: 2px solid blue; */
  /* position: absolute; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 20px;
  margin: 8% 0%;
  justify-items: center;
}

.tarjetaPelis{
  border: 30px solid white;
  display: flex;
  width: 70%;
  box-shadow: 50px 50px 20px white;
  position: relative;
  /* animation-name: portadaZoomYGiro;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.tarjetaPelis img{
  width: 100%;
  /* opacity: 1.0; */
  /* filter:alpha(opacity=100); For IE8 and earlier */
}

.tarjetaPelis img:hover{
  transform: scale(1.18, 1.18);
}

/* Animación para el logo del navbar */
/* @keyframes portadaZoomYGiro{
  0%{
      transform: scale(0.3, 0.3);
  }1%{
      transform: rotateZ(0deg);
  }10%{
      transform: rotateZ(360deg);
  }20%{
      transform: scale(0.5, 0.5);
  }
  100%{
      transform: scale(1.18, 1.18);
  }
} */

.botonPelis{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 3vw; */
  /* height: 7%; */
  background-color: rgb(199, 17, 199);
  border-radius: 10px;
  padding: 0.6vh 0.6vw;
  box-shadow: 3px 3px 2px black;
}

.tarjetaPelis button a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 0.6vw;
}

.botonAbajo{
  margin-top: 1.3vh;
}

.botonTrailerPeliTwo{
  top: 59%;
  left: 50%;
  transform: translate(-50%, -59%);
}

.containerImagenFondoTres{
  border: 1px solid red;
  width: 100vw;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../assets/img/PortadaPelis.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: var(--fuenteLoveLight);
  color: white;
  letter-spacing: 3px;
}

.tituloContactUs{
  border: 1px solid blue;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.tituloContactUs h1{
    font-size: 100px;
    /* letter-spacing: 4px; */
}

.sectionDatosGralesLeo{
  border: 1px solid red;
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*grid-row-gap: 20px;*/
}

.sectionDatosGralesLeo h3{
  font-family: var(--fuenteOoohBaby);
  font-size: 50px;
  text-align: center;
  padding: 0px 1%;
}

.ContainerDatos{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
  padding-left: 8%;
}

.containerLogoUbicacion{
  border: 1px solid blue;
  width: 3.5%;
}

.containerLogoUbicacion img{
  border: 1px solid green;
  width: 100%;
  display: flex;
}

.direccionH4{
  font-family: var(--fuenteOoohBaby);
  font-size: 30px;
  margin: 0px 0% 0px 5%;
}

.containerLogoEmailDireccion{
  margin-top: 20px;
}

.containerLogoEmail{
  border: 1px solid blue;
  width: 3%;
}

.containerLogoEmail img{
  display: flex;
  width: 100%;
}

.containerLogoTelefonoNumero{
  margin-top: 20px;
}

.contactoRedes{
  border: 1px solid green;
  margin: 100px 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 5%;
  margin-right: 3%;
}

.logo img{
  border: 1px solid green;
  width: 100%;
}

.logoVercel{
  width: 10%;
}
/*---------------------------------------------*/
/*************** MEDIA QUERY *******************/
/*---------------------------------------------*/

/* @media only screen and (max-width: 7137px){
  
  .divTituloPrincipal{
    font-size: 420px;
    text-shadow: 20px 20px 7px black;
  }
}*/

@media only screen and (max-width: 5826px){
  
  .divTituloPrincipal{
    font-size: 150px;
  }
}

@media only screen and (max-width: 4520px){
  
  .divTituloPrincipal{
    font-size: 120px;
    text-shadow: 15px 15px 6px black;
  }
}

@media only screen and (max-width: 3600px){
  
  .divTituloPrincipal{
    font-size: 90px;
  }
}

@media only screen and (max-width: 2720px){
  
  .divTituloPrincipal{
    font-size: 70px;
    text-shadow: 10px 10px 6px black;
  }

  .tarjetaPelis{
    border: 12px solid white;
    box-shadow: 13px 13px 11px white;
  }
}

@media only screen and (max-width: 2120px){
  
  .divTituloPrincipal{
    font-size: 50px;
  }
}

@media only screen and (max-width: 1520px){
  
  .divTituloPrincipal{
    font-size: 30px;
    text-shadow: 10px 10px 6px black;
  }

  .tarjetaPelis{
    border: 12px solid white;
    box-shadow: 5px 5px 15px white;
  }
}

@media only screen and (max-width: 930px){
  
  .divTituloPrincipal{
    font-size: 20px;
    text-shadow: 5px 5px 6px black;
  }
}

@media only screen and (max-width: 640px){
  
  .divTituloPrincipal{
    font-size: 15px;
  }
}

@media only screen and (max-width: 470px){
  
  .divTituloPrincipal{
    font-size: 10px;
    text-shadow: 4px 4px 6px black;
  }
}

@media only screen and (max-width: 320px){
  
  .divTituloPrincipal{
    font-size: 7px;
    text-shadow: 3px 3px 5px black;
  }
}

@media only screen and (max-width: 230px){
  
  .divTituloPrincipal{
    font-size: 5px;
  }
}

@media only screen and (max-width: 170px){
  
  .divTituloPrincipal{
    font-size: 4px;
  }
}

@media only screen and (max-width: 130px){
  
  .divTituloPrincipal{
    font-size: 3px;
  }
}

@media only screen and (max-width: 95px){
  
  .divTituloPrincipal{
    font-size: 2px;
  }
}

/*@media only screen and (max-width: 179px){
  
  .divTituloPrincipal{
    font-size: 9px;
  }
}

@media only screen and (max-width: 136px){
  
  .divTituloPrincipal{
    font-size: 7px;
  }
}

@media only screen and (max-width: 107px){
  
  .divTituloPrincipal{
    font-size: 5px;
  }
} */

/*@media only screen and (min-width: 2954px){
  
  .mainContainerImgFondo{
    height: 162vh;
  }
}*/

/*@media only screen and (min-width: 3739px){
  
  .mainContainerImgFondo{
    height: 162vh;
  }
}*/

/*@media only screen and (min-width: 3740px){
  
  .mainContainerImgFondo{
    height: 178vh;
  }
}*/

@media only screen and (max-width: 900px){

  /* Esto es importante para que el
  menú hamburguesa no quede muy cerca
  del borde derecho y por consiguiente
  el menú se vería sólo una parte. */
  .navbar{
    /*padding-right: 77px;*/
  }
    
  /* Colocamos estilos al div contenedor de 3 span's, que al darle altura y ancho, los
  usamos para que nos formen el logo típico del Menú hamburguesa de forma casera. */
  .divTresSpanMenuHamburguesa{
    /*position: relative;
      width: 50px;
      height: 29px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;*/
  }

  /* Aquí cuando hacemos clic en
  los 3 span que forman la figura
  de una hamburguesa, hacemos aparecer
  el menú. */
  .inputMenu:checked ~ .listaHamburguesa{
      /*Display: block;*/
  }

  /* Y cuando hacemos aparecer el
  menú hamburguesa, debemos también
  hacer desaparecer el menú
  tradicional. */
  .ContainerDivMenuNavbar{
      /*display: none;*/
  }


  .mainContainerImgFondo{
    /*margin-top: 80px;
    width: 100vw;
    height: 50vh;*/
  }
}

/*@media only screen and (min-width: 310px){
  
.navbar{
  padding-left: 15px;
}

  .mainContainerImgFondo{
    height: 28vh;
  }
}*/

@media only screen and (min-width: 150px){
  
  .navbar{
   /* height: 50px;
    justify-content: center;*/
  }

  .containerDivLogoNavbar{
    /*display: none;*/
  }

  .divContainerPrincipalMenuHamburguesa{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid red;*/
  }

  .divContainerPrincipalMenuHamburguesa label{
    /*border: 3px solid blue;
    width: 20%;*/
  }

  .divContainerListaMenuHamburguesa{
    /*border: 3px solid green;
    margin-top: 30px;*/
  }

  .divTresSpanMenuHamburguesa{
    /*border: 3px solid white;
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;s
    cursor: pointer;*/
  }

  .divImagenHamburguesa span{
    /*background: white;
    width: 100%;
    height: 4px;*/
  }

  .listaHamburguesa{
    /*display: flex;*/
    /*width: 100%;*/
    /*margin-top: 9px;*/
    /*display: none;*/
    /*text-align: center;*/
    /*background: var(--azulClaro);*/
    /*border-radius: 7px;*/
    /*padding: 20px;*/
    /*width: 150px;*/
  }

  .listaHamburguesa li{
    /*height: 40px;*/
  }

  .mainContainerImgFondo{
    /*margin-top: 50px;
    height: 19vh;*/
  }

  .divTituloPrincipal{
    /*width: 80%;
    height: 100%;
    font-size: 13px;
    line-height: 20px;*/
  }

  .divTituloPrincipal span{
    /*font-family: var(--fuenteNightmareBeforeChristmas);
    font-weight: 500;
    text-shadow: 2px 2px 4px black;*/
  }

}

@media only screen and (min-width: 213px){
  
  .navbar{
    /*height: 50px;
    justify-content: center;*/
  }

  .containerDivLogoNavbar{
    /*display: none;*/
  }

  .divTresSpanMenuHamburguesa{
    /*width: 50px;
    height: 25px;*/
  }

  .divTresSpanMenuHamburguesa span{
    /*width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;*/
  }
   /*************/
  .listaHamburguesa{
    /*transform: translate(-80px, 12px);
    width: 100%;*/
  }
  /*************/
  .listaHamburguesa li{
    /*height: 60px;*/
  }
  /*************/
  .mainContainerImgFondo{
    /*margin-top: 50px;
    height: 27vh;*/
  }
  /*************/

  .divTituloPrincipal{
/*    width: 80%;
    height: 100%;
    font-size: 18px;
    line-height: 20px;*/
  }

  .divTituloPrincipal span{
/*    font-family: var(--fuenteNightmareBeforeChristmas);
    font-weight: 500;
    text-shadow: 2px 2px 4px black;*/
  }
}