@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nightmare Before Christmas';
  src: url('../assets/fonts/Nightmare-Before-Christmas.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  /* --fuenteOoohBaby: 'Oooh Baby'; */
  /* --fuenteLoveLight: 'Love Light', cursive; */
  --fuenteRuby: 'Rubik', sans-serif;
  --fuenteNightmareBeforeChristmas: 'Nightmare Before Christmas';
  --colorFondoNavbar: black;
  --colorSalmon: hsl(0, 98%, 78%);
  /* --colorSalmonClaro: hsl(0, 59%, 88%); */
  /* --colorSangre: hsl(0,100%,40%); */
}

.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorFondoNavbar);
  padding: 0px 5%;
  z-index: 1;
}

.containerLogoNavbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogoNavbar img{
  width: 100%;
  min-width: 50px;
  max-width: 70px;
  animation-name: zoomLogo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes zoomLogo{
  0%{
      transform: scale(0.3, 0.3);
  }1%{
      transform: rotateZ(0deg);
  }10%{
      transform: rotateZ(360deg);
  }30%{
      transform: scale(0.5, 0.5);
  }
  100%{
      transform: scale(1.00, 1.00);
  }
}

/* <----------  HIDE HAMBURGER MENU  ----------------> */
.containerHamburgerMenu{
  display: none;
}

.containerUnorderedListHamburgerMenu{
  display: none;
}

.unorderedSubListItemListInicio{
  display: none;
}
/*<--------------------------------------------> */

.containerMainMenuNavbar{
  height: 100%;
  align-items: center;
}

.unorderedListMainMenu{
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  list-style: none;
}

.unorderedListMainMenu li{
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;
}

.unorderedListMainMenu li a{
  /* border: 2px solid blue; */
  padding: 0px 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuenteRuby);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

.unorderedListMainMenu li a:hover{
  background-color: var(--colorSalmon);
  color: black;
  font-weight: 600;
}

/* <-----  MAIN TITLE AND MAIN BACKGROUND IMAGE ----> */

.MainBackgroundImage{
  margin-top: 80px;
  width: 100%;
  position: relative;
  display: flex;
  z-index: -1;
}

.MainBackgroundImage img{
  width: 100%;
}

.containerMainTitle{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.containerMainTitle h1{
  color: white;
  font-family: var(--fuenteNightmareBeforeChristmas);
  font-size: 6vw;
  text-shadow: 1vh 1vh 0.5vh black;
}
/*<--------------------------------------------> */

/* <------------  MOVIE COVERS ----------> */
.mainMovieCovers{
  width: 100%;
  background-image: url("../assets/img/Estrellas.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.movieCoversSection{
   /*border: 4px solid blue;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-column-gap: 3vw;
  grid-row-gap: 5vh;
  margin: 10vh 3vw;
  justify-items: center;
}

.containerMovieCovers{
  position: relative;
  display: flex;
  width: 100%;
  border: 1vh solid white;
  box-shadow: 1vh 1vh 1vh white;
  transition: transform .5s;
}

.containerMovieCovers:hover{
  transform: scale(1.15, 1.15);
}

.containerMovieCovers img{
  /* border: 4px solid blue; */
  display: flex;
  width: 100%;
}

.buttonMovies{
  width: 5vw;
  height: 3vh;
  box-shadow: 0.5vh 0.5vh 0.5vh black;
  background-color: rgb(129, 2, 21);
  border-radius: 30px;
}

.buttonMovies a{ 
  /* border: 4px solid blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1vw;
  color: white;
  font-weight: 600;
  font-family: var(--fuenteRuby);
}

.buttonMoviesInfo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonMoviesTrailer{
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -64%);
}

/*<--------------------------------------------> */

/*---------------------------------------------*/
/*************** MEDIA QUERY *******************/
/*---------------------------------------------*/

@media only screen and (max-width: 4096px){
  
  .buttonMoviesTrailer{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -63%);
  }
}

@media only screen and (max-width: 2500px){
  
  
}

@media only screen and (max-width: 1920px) and (height: 1440px){

  .buttonMovies{
    width: 5vw;
    height: 2.5vh;
  }
}

@media only screen and (max-width: 1600px){

 
}

@media only screen and (max-width: 1450px){
  
  
}

@media only screen and (max-width: 1379px){
  
  
}

@media only screen and (max-width: 1200px){
  
 
}

@media only screen and (max-width: 999px){
 
}

@media only screen and (max-width: 950px){
  
  
}

@media only screen and (max-width: 900px){
  
  
}

@media only screen and (max-width: 850px){
  
  .buttonMovies{
    width: 6vw;
    height: 4vh;
  }

  .buttonMoviesTrailer{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
  }
}

@media only screen and (max-width: 800px){
  
   .containerMainMenuNavbar{
      display: none;
   }

   .buttonMovies{
    width: 6vw;
    height: 3vh;
  }
}

@media only screen and (max-width: 768px) and (height: 1024px){
  
  .buttonMovies{
    width: 6vw;
    height: 2vh;
  }

  .buttonMoviesTrailer{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -64%);
  }
}

@media only screen and (max-width: 750px){
  
  
}

@media only screen and (max-width: 720px) and (height: 1280px){
  
  .buttonMovies{
    width: 7vw;
    height: 1.5vh;
  }
}

@media only screen and (max-width: 640px){
  
  .buttonMovies{
    width: 7vw;
    height: 4vh;
  }
  
  .buttonMoviesTrailer{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media only screen and (max-width: 640px) and (height: 960px){
  
  .buttonMovies{
    width: 7vw;
    height: 2vh;
  }
  
  .buttonMoviesTrailer{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
  }
}

@media only screen and (max-width: 600px) and (height: 1024px){

  .buttonMovies{
    width: 11vw;
    height: 2vh;
  }

  .buttonMovies a{
    font-size: 1.5vw;
  }

  .buttonMoviesTrailer{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -64%);
  }
}

@media only screen and (max-width: 549px){
  
  
}

@media only screen and (max-width: 537px){
  
  
}

@media only screen and (max-width: 520px){
  
 
}

@media only screen and (max-width: 500px){
  
  
}

@media only screen and (max-width: 450px){
  
  
}

@media only screen and (max-width: 426px){
  
  
}

@media only screen and (max-width: 410px){
  
  
}

@media only screen and (max-width: 400px){

  .movieCoversSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0vw;
  }

  .containerMovieCovers{
    display: flex;
    width: 85%;
  }
}

@media only screen and (max-width: 360px){

  .buttonMovies{
    width: 17vw;
    height: 3.5vh;
  }
  
  .buttonMovies a{
    font-size: 3vw;
  }
  
  .buttonMoviesTrailer{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -61%);
  } 
}

@media only screen and (max-width: 320px) and (height: 240px){
  .buttonMovies{
    width: 15vw;
    height: 8vh;
  }

  .buttonMovies a{
    font-size: 3vw;
  }

  .buttonMoviesTrailer{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);
  }
}

@media only screen and (max-width: 320px) and (height: 480px){
  .buttonMovies{
    width: 16vw;
    height: 4vh;
  }

  .buttonMovies a{
    font-size: 3vw;
  }

  .buttonMoviesTrailer{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);
  }
}

@media only screen and (max-width: 300px){
  
  
}


@media only screen and (max-width: 258px){
  
  
}

@media only screen and (max-width: 215px){
  
  .movieCoversSection{
    display: flex;
    flex-direction: column;
    margin: 3vh 10vw;
  }
}

@media only screen and (max-width: 200px){
  
  
}

@media only screen and (max-width: 150px){
  
  
}

@media only screen and (max-width: 125px){
  
  
}

@media only screen and (max-width: 110px){
  
  
}